html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5% 5% 5%;
}

.header-container {
    border-bottom: 20px solid #BE172C;
    background: #D61E3A;
    padding-left: 1em;
    color: white;
}

.header-container p {
    font-size: 0.95em;
}

@media only screen and (min-width: 768px) {
    nav {
        float: right;
        width: 38%;
    }

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}